@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Global colour variables*/
:root {
    --main-color:black;
    --secondary_color:rgb(196, 196, 196);
    --tertiary_color:rgb(66, 66, 66);

    --pri_color: #E5737E;
    --sec_color: #f59b9b;
    --text_color: #646464;
    --pri_button_hover: #c86c75; 
    --pri_fade_color: #f59b9b;
    --button_outline_color: #e5737e7f;
    --border_outline_color:#e1dbdb;
    --pri_hover_color: #fff8f8;
    --bg_color: #f2f0ef;
}

/* general */

body {
    background-color:  #FFF8F2;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    color:#2C2C2C;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}


/*Navigation bar*/
.navigation_container {
    background-color: white;
    color:black;
    width:100%;
    position: fixed;
    border-radius: 0 0 15px 15px;
    z-index: 1000;
    border: 1px solid var(--border_outline_color);
}

.nav_container {
    width:1000px;
    height: 77px;
    margin:auto;
    display: flex;
    align-items: center;
}

.nav_left {
    width:14%;
    align-content: center;
    font-size:larger;
    padding: 20px 0px 20px 0;
}

.nav_middle {
    width:60%;
}

.nav_right {
    width:30%;
    text-align: end;
    align-content: center;
}

.nav_button {
    padding: 15px 20px 15px 20px;
    color:var(--text_color);
    border:none;
    font-weight: bold;
}

.nav_button:hover {
    cursor: pointer;
    color: black;
    transition: 0.15s;
}

.harmony_logo {
    top: 5px;
    position: relative;
}

#download_button {
    background-color: var(--pri_color);
    color:white;
    border-radius: 15px;
    font-weight: bold;
    transition: 0.15s;
}

#download_button:hover {
    cursor: pointer;
    background-color: var(--pri_button_hover);
}

#login_button {
    color:var(--pri_color);
    border-radius: 15px;
    transition: 0.15s;
}

#login_button:hover {
    background-color: var(--pri_hover_color);
}

#selected_page {
    color: black;
    padding: 26px 20px 27px 20px;
    border-bottom: 2px solid var(--pri_color);
}

.nav_container_mobile {
    visibility: collapse;
    display: none;
    align-content: center;
}

/*Mobile navigation bar*/
.nav_container_mobile {
    padding: 20px;
}

.nav_left_mobile {
    width:50%;
}

.nav_right_mobile {
    width:50%;
    align-content: center;
    text-align: right;
}

.mobile_nav_button {
    background-color: inherit;
    border: none;
    padding: 0 0 0 30px;
    font-weight: bold;
    transition: 0.15s;
}

.mobile_nav_button:hover {
    cursor: pointer;
}

/*Mobile navigation list*/
.mobile_page_content {
    width: 100%;
    background-color: white;
    animation: fade_up_animation 0.5s;
}

.mobile_navigation_list {
    padding: 102px 25px 25px 25px;
    display: flex;
    flex-wrap: wrap;
}

.mobile_page_download_container {
    padding: 20px 20px 20px 0px;
    background-color: var(--pri_color);
    color:white;
    border-radius:15px;
}

.mobile_menu_button {
    width: 100%;
    text-align: center;
    padding: 20px;
    color:var(--text_color);
    font-weight: bold;
}

.mobile_menu_button:hover {
    cursor: pointer;
    background-color: var(--pri_hover_color);
    border-radius: 15px;
    transition: 0.15s;
}

.mobile_menu_button_2 {
    width: 100%;
    background-color: var(--pri_color);
    color: white;
    border-radius: 15px;   
    text-align: center;
    padding: 20px;
    font-weight: bold;
    transition: 0.15s;
}

.mobile_menu_button_2:hover {
    cursor: pointer;
    background-color: var(--pri_button_hover);
}


/* join button */

.join_button {
    font-size: large;
    font-weight: bold;
    color:#FFF8F2;
    background-color: #E5737E;
    border-style: solid;
    border-radius: 20px;
    border-color: #E5737E;
    padding: 10px 25px 10px 25px;
}

.join_button:hover {
    background-color: #e95664;
}

/* Features header */
#features_header_back{
    position: relative;
    height: 500px;
    max-width: 100%;
    z-index: -3;
    background-color: #c86c75;
}

.features_img {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7
}

#features_header_text_container {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    margin: 0 90px 0 90px;
    border-radius: 40px;
    padding: 50px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Main features slider */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: linear-gradient(180deg, rgb(247 228 228) 0%, var(--bg_color) 60%);
    
}

.features-wrapper {
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.features-list .features-item {
    list-style: none;
}

.features-list .features-item .features-link {
    user-select: none;
    display: block;
    background: white;
    padding: 18px;
    border-radius: 12px;
    color:#2C2C2C; 
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(113, 17, 17, 0.05);
    transition: 0.2s ease;
    z-index: 1;
}
.features-list .features-item .features-link:active{
    cursor:grabbing;
}

.features-list .features-item .features-link:hover {
    border-color:#E5737E;
    background-color: #fcf9f9;
}

.inside-content {
    display: flex;
    justify-content: center;
}

.features-list .features-link .features-h2 {
    font-size: 3rem;
    transition: 0.2s ease;
}
.features-list .features-link:hover .features-h2 {
    color:#c7505c;
    font-size: 3rem;

}

.features-list .features-link .features-image {
    width: 45%;
    aspect-ratio: 7/9;
    border-radius: 10px;
}

.features-list .features-link .info-item {
    font-size: 2.1rem;
    margin-left: 20px;
    transition: 0.2s ease;
}

.features-list .features-link:hover .info-item {
    color:#c7505c;
}
.features-list .features-link .info-header {
    list-style: none;
    font-size: 2.3rem;
    font-weight: bold;
}

.features-list .features-link .info-list {
    margin-left: 30px;
    list-style-type: circle;  
}  
.features-list .features-link .info-list::marker {
   color:#c86c75; 
}  

.features-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #db4a59;
}

.features-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.features-wrapper .swiper-slide-button {
    color:#E5737E;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {

    .features-wrapper .swiper-slide-button {
        display: none;
}
}

/*Footer section*/
.footer_container {
    width:100%;
    padding:50px 0px 50px 0px;
    text-align: center;
    background-color: #2C2C2C;
    border-radius: 15px 15px 0 0;
}

.footer_content_container {
    width:1000px;
    display: flex;
    margin: auto;
    align-items: center;
}

.left_foot {
    width:20%;
    text-align: left;
}

.middle_foot {
    width:60%;
}

.right_foot {
    width: 20%;
    text-align: right;
}

.foot_link {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color:white;
}

.foot_link:hover {
    cursor: pointer;
    color:rgb(209, 209, 209);
}

/*Mobile display*/
@media only screen and (max-width: 1000px) {
    /*Main*/
    .navigation_container, .nav_container, .hero_container, .main_container, .heading_container, .content_container, .main_content_container, .footer_container, .footer_content_container, table, .try_container, .try_content_container{
        width: 100%;
    }

    /*Navigation bar*/
    .nav_container {    
        visibility: hidden;
        display: none;
        z-index: 1;
    }

    .nav_container_mobile {
        visibility: visible;
        display: flex;
    }
}