@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Global colour variables*/
:root {
    --main-color:black;
    --secondary_color:rgb(196, 196, 196);
    --tertiary_color:rgb(66, 66, 66);

    --pri_color: #E5737E;
    --sec_color: #f59b9b;
    --text_color: #646464;
    --pri_button_hover: #c86c75; 
    --pri_fade_color: #f59b9b;
    --button_outline_color: #e5737e7f;
    --border_outline_color:#e1dbdb;
    --pri_hover_color: #fff8f8;
    --bg_color: #f2f0ef;
}

/* General */
body {
    background: linear-gradient(180deg, rgb(243, 214, 214) 0%, var(--bg_color) 60%);
    font-family: Nunito, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
a {
    color:#646464;
    text-decoration: none;
}
/*Navigation bar*/
.navigation_container {
    background-color: white;
    color:black;
    width:100%;
    position: fixed;
    border-radius: 0 0 15px 15px;
    z-index: 1000;
    border: 1px solid var(--border_outline_color);
}

.nav_container {
    width:1000px;
    height: 77px;
    margin:auto;
    display: flex;
    align-items: center;
}

.nav_left {
    width:14%;
    align-content: center;
    font-size:larger;
    padding: 20px 0px 20px 0;
}

.nav_middle {
    width:60%;
}

.nav_right {
    width:30%;
    text-align: end;
    align-content: center;
}

.nav_button {
    padding: 15px 20px 15px 20px;
    color:var(--text_color);
    border:none;
    font-weight: bold;
}

.nav_button:hover {
    cursor: pointer;
    color: black;
    transition: 0.15s;
}

.harmony_logo {
    top: 5px;
    position: relative;
}

#download_button {
    background-color: var(--pri_color);
    color:white;
    border-radius: 15px;
    font-weight: bold;
    transition: 0.15s;
}

#download_button:hover {
    cursor: pointer;
    background-color: var(--pri_button_hover);
}

#login_button {
    color:var(--pri_color);
    border-radius: 15px;
    transition: 0.15s;
    border: 1px solid var(--pri_color);
}

#login_button:hover {
    background-color: var(--pri_hover_color);
}

#selected_page {
    color: black;
    padding: 26px 20px 27px 20px;
    border-bottom: 2px solid var(--pri_color);
}

.nav_container_mobile {
    visibility: collapse;
    display: none;
    align-content: center;
}

/*Mobile navigation bar*/
.nav_container_mobile {
    padding: 20px;
}

.nav_left_mobile {
    width:50%;
}

.nav_right_mobile {
    width:50%;
    align-content: center;
    text-align: right;
}

.mobile_nav_button {
    background-color: inherit;
    border: none;
    padding: 0 0 0 30px;
    font-weight: bold;
    transition: 0.15s;
}

.mobile_nav_button:hover {
    cursor: pointer;
}

/*Mobile navigation list*/
.mobile_page_content {
    width: 100%;
    background-color: white;
    animation: fade_up_animation 0.5s;
}

.mobile_navigation_list {
    padding: 102px 25px 25px 25px;
    display: flex;
    flex-wrap: wrap;
}

.mobile_page_download_container {
    padding: 20px 20px 20px 0px;
    background-color: var(--pri_color);
    color:white;
    border-radius:15px;
}

.mobile_menu_button {
    width: 100%;
    text-align: center;
    padding: 20px;
    color:var(--text_color);
    font-weight: bold;
}

.mobile_menu_button:hover {
    cursor: pointer;
    background-color: var(--pri_hover_color);
    border-radius: 15px;
    transition: 0.15s;
}

.mobile_menu_button_2 {
    width: 100%;
    background-color: var(--pri_color);
    color: white;
    border-radius: 15px;   
    text-align: center;
    padding: 20px;
    font-weight: bold;
    transition: 0.15s;
}

.mobile_menu_button_2:hover {
    cursor: pointer;
    background-color: var(--pri_button_hover);
}

/* Login container */


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27vw;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(113, 17, 17, 0.05);
}


.center h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #c86c75;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadadb9;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 14px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0px;
    height: 2px;
    background: #c86c75;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #c86c75;
}

.txt_field input:focus ~ span::before,
.txt_field input:Valid ~ span::before{
  width: 100%;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.pass {
    color: #a6a6a6;
    cursor: pointer;
}

.pass a {
    color: #a6a6a6;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid #c86c75;
    background-color:  #E5737E;
    color:white;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

input[type="Submit"]:hover{
    background-color: var(--pri_button_hover);
    transition: 0.4s;
}


  .signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }

  .signup_link a{
    color: #c86c75;
  }

  .signup_link a:hover {
    text-decoration: underline;
   
  }

  @media only screen and (max-width: 1500px) {
    .center{
        width: 60vh;
    }
  }



/*Mobile display*/
@media only screen and (max-width: 1000px) {
    /*Main*/
    .navigation_container, .nav_container, .hero_container, .main_container, .heading_container, .content_container, .main_content_container, .footer_container, .footer_content_container, table, .try_container, .try_content_container{
        width: 100%;
    }

    /*Navigation bar*/
    .nav_container {    
        visibility: hidden;
        display: none;
        z-index: 1;
    }

    .nav_container_mobile {
        visibility: visible;
        display: flex;
    }
}

