body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding:0px;
    margin:0px;
}

h1 {
    margin: auto;
    width:fit-content;
    border-bottom: 1px solid black;
}

.navigation_container {
    width: 100%;
    background-color: black;
    color:white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_nav {
    width:50%;
    text-align: left;
    align-content: center;
}

.right_nav {
    align-items:center;
    justify-content: right;
    display:flex;
    width:50%; 
    text-align: right;
}

.nav_container {
    width: 800px;
    display:flex;   
}

.heading_container {
    background-color: #cfcfcf;
    padding: 100px 0px 100px 0px;
    text-align: center;
}

.heading_container h1 h3 p {
    display: inline-block;
    vertical-align: middle;
}

.check_container {
    outline: solid 2px #cfcfcf;
    width: 500px;
    margin: auto;
    padding:25px;
    text-align: left;
}

.border_container {
    width:500px;
    margin:auto;    
    padding:25px;
    outline: solid 2px #cfcfcf;
    text-align:left;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px 10px 25px;
}

button:hover {
    cursor: pointer;
    background-color: grey;
}

@media only screen and (max-width: 620px) {
    .check_container, .border_container, .closing_container {
        width: 100%;
        padding:0;
    }
}

.closing_container {
    margin:auto;
    padding: 25px 0px 50px 0px;
    margin: 25px 0px 0px 0px;
    background-color:black;
    color: white
}

.roadmap_container {
    margin-top:25px;
}

.navigation_container button {
    background-color: white;
    color: black;
}

.navigation_container button:hover {
    background-color: grey;
    color: black;
}

.closing_container button {
    background-color: white;
    color: black;
}

.closing_container button:hover {
    background-color: grey;
    color: black;
}

