@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* general */

body {
    background-color: #e5dacf;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    color:#2C2C2C;
    margin: 0;
}
a {
    text-decoration: none;
}

img {
    border-radius: 10px
}

/* navigation bar */

.nav_container {
    background-color: #FFF8F2;
    border-style: solid;
    border-color:#FF5252;
    border-radius: 20px;
    width: 100%;
    height:65px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.nav_left {
    padding-right: 25px;
}


.nav_right {
    padding-left: 150px;
}

.nav_button {
    background-color: #FFF8F2;
    color:#2C2C2C;
    font-weight: bold;
    font-size:large;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
}
#selected_page {
    border-bottom: solid;
    border-color: #2C2C2C;
    padding: 20px;
}

.nav_button:hover {
    color: #E5737E
}

.nav_button:link {
    color:#2C2C2C
}


#login_button {
    color:#E5737E;
    border-style: solid;
    border-radius: 20px;
    border-color: #e5737e7f;
    margin-right: 5px;
}

#login_button:hover {
    background-color: #e5737e45;
    border-color:#E5737E;
}

#download_button {
    color:#FFF8F2;
    background-color: #E5737E;
    border-style: solid;
    border-radius: 20px;
    border-color: #E5737E;
}

#download_button:hover {
    background-color: #e95664;
}

/* join button */

.join_button {
    font-size: large;
    font-weight: bold;
    color:#FFF8F2;
    background-color: #E5737E;
    border-style: solid;
    border-radius: 20px;
    border-color: #E5737E;
    padding: 10px 25px 10px 25px;
}

.join_button:hover {
    background-color: #e95664;
}

/* features page */
.pink_navigation {
    background-color: #e5737e45;
    width: 100%;
}
.pink_features {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #e5737e45;
    border-top: solid;
    border-bottom: solid;
    border-top-color:#E5737E;
    border-bottom-color: #E5737E;
}

#meet_friends_h1 {
    text-align: left;
    font-size: 70px;
    padding: 20px 0px 0px 80px;
    margin: 40px 0 0 0;
}

#meet_friends_h2 {
    text-align: left;
    font-size: 50px;
    padding: 0px 0px 20px 80px;
    margin: 0

}

#meet_friends_button {
    text-align: left;
    margin: 80px;

}

#meet_friends_img {
    margin: 20px 80px 20px 0px;
    width:500px;  
    height: 450px;
}

.no_color_features {
    display: flex;
    justify-content: space-between;
}

.features_text_right {
    padding-right: 50px;
    padding-left: 50px;
    font-stretch: condensed;
    text-align: left;
    margin: 40px
}

#music_people_h2 {
    text-align: left;
    font-size: 40px;
    margin: 20px 80px 20px 0px;
}

#music_people_img {
    width:300px;  
    height: 200px;
    margin: 20px 0px 20px 80px;
}
#how_it_works_h2 {
    text-align: left;
    font-size: 40px;
}

#how_it_works_img {
    margin: 20px 80px 20px 0px;
    width:400px;  
    height: 300px;
}

#music_around_you_h2 {
    font-size: 40px;
    text-align: left;
    padding: 80px;

}

#music_around_you_img {
    margin: 20px 0px 20px 80px;
    width: 400px;  
    height: 300px;
}
#pink_features_no_flex {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e5737e45;
    border-top: solid;
    border-bottom: solid;
    border-top-color:#E5737E;
    border-bottom-color: #E5737E;
}
#make_new_friends_h2 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 40px;
}

#make_new_friends_img {
    width:700px;  
    height: 300px;
    display: block;
    margin: 20px auto 20px auto;
}

#up_to_date_h2 {
    text-align: center;
    font-size: 40px;
}

#up_to_date_img {
    width: 900px;
    height: 500px;
    display: block;
    margin: 20px auto 20px auto;
}
#pink_features_table {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e5737e45;
    border-top: solid;
    border-bottom: solid;
    border-top-color:#E5737E;
    border-bottom-color: #E5737E;
    display: flex;
    justify-content: space-evenly;
}

#profile_and_customize_h2_text {
    text-align: left;
    padding-left: 40px;
    margin: 0;
}
#profile_and_customize_h2 {
    font-size: 40px;
}

#profile_and_customize_img {
    width: 400px;
    height: 800px;
    padding: 20px 100px 20px 80px;
    margin-right: 0

}
#profile_and_customize_h3_text {
    padding: 400px 20px 0 0;
    margin-left: 0
}

#profile_and_customize_h3 {
    font-size: 30px;
}
#thanks {
    text-align: center;
}

.features_text_left {
    padding-right: 50px;
    padding-left: 80px;
    font-stretch: condensed;
    text-align: left;
}

#join_div_features {
    display: flex;
    justify-content: center;
}

